Logic/FLASH_KICKSTART.bld
Logic/FLASH_KICKSTART.cmd_log
Logic/FLASH_KICKSTART.gise
Logic/FLASH_KICKSTART.gyd
Logic/FLASH_KICKSTART.lso
Logic/FLASH_KICKSTART.mfd
Logic/FLASH_KICKSTART.nga
Logic/FLASH_KICKSTART.ngc
Logic/FLASH_KICKSTART.ngd
Logic/FLASH_KICKSTART.ngr
Logic/FLASH_KICKSTART.pad
Logic/FLASH_KICKSTART.pnx
Logic/FLASH_KICKSTART.prj
Logic/FLASH_KICKSTART.rpt
Logic/FLASH_KICKSTART.stx
Logic/FLASH_KICKSTART.syr
Logic/FLASH_KICKSTART.vm6
Logic/FLASH_KICKSTART.xml
Logic/FLASH_KICKSTART.xst
Logic/FLASH_KICKSTART_build.xml
Logic/FLASH_KICKSTART_envsettings.html
Logic/FLASH_KICKSTART_html/
Logic/FLASH_KICKSTART_ngdbuild.xrpt
Logic/FLASH_KICKSTART_pad.csv
Logic/FLASH_KICKSTART_summary.html
Logic/FLASH_KICKSTART_xst.xrpt
Logic/_ngo/
Logic/_xmsgs/ngdbuild.xmsgs
Logic/_xmsgs/pn_parser.xmsgs
Logic/_xmsgs/xst.xmsgs
Logic/tmperr.err
Logic/webtalk_pn.xml
Logic/xlnx_auto_0_xdb/
Logic/xst/
Logic/iseconfig/
Logic/_xmsgs/
Logic/FLASH_KICKSTART.tim
Logic/FLASH_KICKSTART.tspec
*.zip
